* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F55A5A;
  gap: 7px;
}

.nav--title {
  color: white;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

.main {
  margin: 36px 40px;
  display: flex;
}

.main--snap {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.main--info {
 margin: 10px 19px;
}

.main--items {
 display: flex;
 align-items: center;
 gap: 3px;
}

.main--location {
  margin: 0;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
}

.main--link {
  margin: 0;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}

.main--title {
  margin: 1px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
}

.main--dates {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
}

.main--description {
  margin: 7px 0px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
}